.flettefelt {
    background-color: rgba(30, 133, 209, 0.2);
  color: #000;

  @nest &:hover {
    cursor: pointer;
  }
}

.flettefeltIcon {
    composes: flettefelt; 
    padding: 0 5px;
}   

.høyrestill {
    float: right;
}

.lenke {
    background-color: rgba(97, 78, 116, 0.3);
    color: #000;
  
    @nest &:hover {
      cursor: pointer;
    }
  }

.lenkeIcon {
    composes: lenke;
    padding: 1px;
  }
  
  
  